lib/flows/html-templates-steve-example.json
[
    {
        "id": "6d054402.bae15c",
        "type": "tab",
        "label": "template",
        "disabled": false,
        "info": ""
    },
    {
        "id": "357aacf3.bb1a1c",
        "type": "template",
        "z": "6d054402.bae15c",
        "name": "html template",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "\n<table border=\"1\" width=\"500px\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"3\">Messages</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th class=\"red\">Message</th>\n        <th class=\"yellow\">Topic</th>\n        <th class=\"blue\" width=\"150\">Time & Date</th>\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg}}</td> \n            <td>{{topic}}</td>   \n            <td width=\"150\">{{time}}</td>\n        </tr>\n    {{/payload}}\n</table>\n<h4>Total Messages={{total}}</h4>\n",
        "output": "str",
        "x": 580,
        "y": 180,
        "wires": [
            [
                "cd697280.7892e8"
            ]
        ]
    },
    {
        "id": "cd697280.7892e8",
        "type": "ui_template",
        "z": "6d054402.bae15c",
        "group": "4a93a592.39efec",
        "name": "Scrolling Messages",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "\n\n<div ng-bind-html=\"msg.payload\" >\n\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 890,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1bef68be.08f577",
        "type": "inject",
        "z": "6d054402.bae15c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "Test Message",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "70471bb6.892d64"
            ]
        ]
    },
    {
        "id": "189fecce.8c76bb",
        "type": "debug",
        "z": "6d054402.bae15c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "70471bb6.892d64",
        "type": "function",
        "z": "6d054402.bae15c",
        "name": "Display Messages",
        "func": "var data=context.get('data')||[];\nvar count=context.get('count');\n\nvar payload=msg.payload;\nvar topic=msg.topic\nif(count==undefined)\n{\n    count=0;\n}\nvar d= new Date();\ncount+=1;\nlet now=d.getTime();\nvar s= new Date(now);\nvar mtime=s.getDate()+\"/\"+(s.getMonth()+1)+\"/\" +s.getFullYear()+ \"- \"+ s.getHours() +\":\"+s.getMinutes()+\":\"+s.getSeconds();\nvar mdata={};\n\nmdata.msg=payload.slice(0,30) +\"   \"+ count;\nmdata.time=mtime;\ndata.push(mdata);\nnode.log(\"data \" + data.length);\nif(data.length>10)\n{\n    data.shift();\n}\nif(topic==\"reset\")\n{\ndata=[];\nnode.log(data)\ncount=0;\n}\n\ncontext.set('count',count);\ncontext.set('data',data);\nlet msg1={};\n\nmsg1[\"payload\"]=data;\nmsg1.topic=topic;\nmsg1.total=count;\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "189fecce.8c76bb",
                "357aacf3.bb1a1c"
            ]
        ]
    },
    {
        "id": "80e0d7eb.2d341",
        "type": "inject",
        "z": "6d054402.bae15c",
        "name": "reset",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "true",
        "payloadType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "70471bb6.892d64"
            ]
        ]
    },
    {
        "id": "479acbd9c5546995",
        "type": "template",
        "z": "6d054402.bae15c",
        "d": true,
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<style type=\"text/css\">\n.tg  {border-collapse:collapse;border-spacing:0;}\n.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;\n  padding:12px 6px;word-break:normal;}\n.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;\n  overflow:hidden;padding:12px 6px;word-break:normal;}\n.tg .tg-cr28{background-color:#329a9d;border-color:inherit;position:-webkit-sticky;position:sticky;text-align:left;top:-1px;\n  vertical-align:top;will-change:transform}\n.tg .tg-9ytq{background-color:#329a9d;border-color:inherit;position:-webkit-sticky;position:sticky;text-align:center;top:-1px;\n  vertical-align:top;will-change:transform}\n.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}\n@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>\n<div class=\"tg-wrap\"><table class=\"tg\">\n<thead>\n  <tr>\n    <th class=\"tg-cr28\">Day</th>\n    <th class=\"tg-cr28\">Dirty Flats </th>\n    <th class=\"tg-cr28\">Low Temp</th>\n    <th class=\"tg-cr28\">High Temp</th>\n    <th class=\"tg-cr28\">Low Temp</th>\n    <th class=\"tg-cr28\">High Temp</th>\n    <th class=\"tg-cr28\">Water Cons</th>\n    <th class=\"tg-cr28\">Feed Cons</th>\n    <th class=\"tg-cr28\">Mortality</th>\n    <th class=\"tg-cr28\">Culls</th>\n    <th class=\"tg-cr28\"># Total Birds</th>\n    <th class=\"tg-cr28\">Egg Production</th>\n    <th class=\"tg-9ytq\">Thorough <br>Inspection</th>\n    <th class=\"tg-9ytq\">Walk Through<br>Inspection</th>\n  </tr>\n</thead>\n<tbody>\n  <tr>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n    <td class=\"tg-0pky\">1</td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n    <td class=\"tg-0pky\"></td>\n  </tr>\n</tbody>\n</table></div>",
        "output": "str",
        "x": 580,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4a93a592.39efec",
        "type": "ui_group",
        "name": "Test Messages",
        "tab": "c4971399.f6246",
        "order": 1,
        "disp": true,
        "width": "57",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c4971399.f6246",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard"
    }
]